BasedOnStyle: Microsoft
Language: Cpp
IndentWidth: 4
ColumnLimit: 128
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  BeforeCatch: false
  BeforeElse: false
